/* Reset some basic styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Base styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-image: url("https://images.hindustantimes.com/rf/image_size_800x600/HT/p2/2016/09/06/Pictures/_55647e3e-7423-11e6-86aa-b218fe1cd668.JPG");
    background-repeat: no-repeat;
    background-size: cover ;
    background-position: center;
    background-attachment: fixed;
}
header {
    background: #02010c;
    color: #eceaea;
    padding: 1rem;
}

header h1 {
    margin: 0;
}
nav ul li {
    display: inline;
    margin-right: 1rem;
}
nav ul li a {
    color: #ecece2;
    text-decoration: none;
}